/* ### RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ### DEBUG */

.debug > *{
    border: 1px dashed black;
    padding: 0.5rem;      
}

/* ### UTILIES */

/* caratteristiche del contenitore centrale */
.container{
    width: 1080px;
    height: 100vh;
    padding: 0 20px;
    margin: 0 auto;
}

button{
    border: none;
}

/* ### HEADER */

.connections{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* testi di selezione nell'header */
.nav_connection{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav_connection > ul{
    display: flex;
    list-style: none;
}

.nav_connection > ul > li{
    margin: 0 20px;
    text-decoration: none;
}

.nav_connection > ul > li > a{
    text-decoration: none;
    color: black;
}

/* tasto a sinistra dell'header INIZIA */
.start{
    padding: 10px;
    background-color: rgb(16, 61, 212);
    color: white;
    width: 100%;
    text-align: center;
}

.col_40{
    width: 40%;
}

/* ### MAIN */

/* section contenente il jumbotron */

.back_jumbo{
    height: 700px;
    background-color: hsl(207.06deg 51.52% 80.59%);
}

.jumbotron{
    width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

.text_img_jumbo{
    display: flex;
}

.presentation{
    width: 420px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.presentation .start{
    display: inline-block;
}



#title_jumbotron{
    text-align: left;
    font-size: 3.7rem;
}

.image{
    width: 830px;
    position: relative;
    left: 50px;
    top: 45px;
}

/* section di inizio container */

/* Titolo h2 */
.title{
    margin: 30px auto;
    font-size: xx-large;
}

.subscription{
    margin-left: 20px;
}

.type_subsription{
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

/* classi dele tabelle */

.option_sub{
    width: 100%;
    border: 1px solid lightgrey;
}

.details_sub{
    padding: 1rem; 
    display: flex; 
    flex-direction: column;
}

.option_sub span{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.option_sub span:first-child{
    text-align: center;
    margin-top: 0;
    padding: 7px;
    border: 1px solid lightgrey;
}

.option_sub .start{
    display: block;
}

/* soluzione spazio nella tabella(???) */
.separator{
    width: 50px;
    padding: 1px;
    background-color: lightgray;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* tabella grande */
#dir_reverse{
    flex-direction: row;
    justify-content: space-between;
}

.enterprise > *{
    margin-top: 25px;
}

.enterprise > p{
    margin-bottom: 25px;
}
